# Dev Tooling


# Build
/game/src/data/main.rs
/game/src/data/components.rs
/game/src/data/conversations_impl.rs
/game/src/data/vending_impl.rs

# Added by cargo

/builder/target
/game/target

# Other
game/log.txt
