refresh_rate: 30 seconds
appenders:
  stdout:
    kind: rolling_file
    path: "log/app.log"
    encoder:
      pattern: "{d} - {m}{n}"
    policy:
      trigger:
        kind: size
        limit: 50kb
      roller:
        kind: delete
root:
  level: info
  appenders:
    - stdout
